
<div class="photo-card">
  <img src="{{hits.largeImageURL}}" alt=" " />
  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
     {{hits.likes}}
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      {{hits.views}}
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      {{hits.comments}}
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      {{hits.downloads}}
    </p>
  </div>
</div>
